<header class="title">KANDAN BOARD</header>
<section class="task-list">
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>TODO(3)</mat-card-title>
        <button mat-icon-button><mat-icon style="color: #f99e98">delete</mat-icon></button>
      </div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doingList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{ item }}
        </div>
      </div>
      <div class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>DOING(1)</mat-card-title>
        <button mat-icon-button><mat-icon style="color: #f99e98">delete</mat-icon></button>
      </div>
      <div
        cdkDropList
        #doingList="cdkDropList"
        [cdkDropListData]="doing"
        [cdkDropListConnectedTo]="[doneList,todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of doing" cdkDrag>
          {{ item }}
        </div>
      </div>
      <div class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>DONE(7)</mat-card-title>
        <button mat-icon-button><mat-icon style="color: #f99e98">delete</mat-icon></button>
      </div>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[doingList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{ item }}
        </div>
      </div>
      <div class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
  <div class="simple-card">
    <div class="input-add">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="New List" />
      </mat-form-field>

      <button mat-raised-button color="primary" style="background-color: #374eae">
        <mat-icon>add</mat-icon> Add
      </button>
    </div>

  </div>
</section>
