<header class="title">KANDAN BOARD</header>
<section class="task-list">
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>TODO(3)</mat-card-title>
        <mat-icon style="color:#f99e98">delete</mat-icon>
      </div>
      <mat-list>
        <mat-list-item> Learn Angular Material </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Code Kanban Board App </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Code Final Project </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div  class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>

  </div>
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>DOING(1)</mat-card-title>
        <mat-icon style="color:#f99e98">delete</mat-icon>
      </div>

      <mat-list>
        <mat-list-item> Learn Angular </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
  <div class="simple-card">
    <mat-card>
      <div class="title-card">
        <mat-card-title>DONE(7)</mat-card-title>
        <mat-icon style="color:#f99e98">delete</mat-icon>
      </div>

      <mat-list>
        <mat-list-item> Learn HTML basic </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Learn CSS basic </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Learn javascript basic </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Code Example </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Learn Javacript DOM </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Code Example App </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Learn Responsive Web </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div  class="input-add">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="New Job" />
        </mat-form-field>

        <button mat-raised-button color="primary">Add</button>
      </div>
    </mat-card>
  </div>
  <div class="simple-card">
    <button mat-raised-button color="primary" style="background-color:#374eae ;">
      <mat-icon>add</mat-icon> Add
    </button>
  </div>
</section>
